.sidebar-title
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px; 
}

.sidebar-items
{
    margin-top: 20px;
}

.sidebar-label-container
{
    display: block;
    position: relative;
    padding-left: 3;
    cursor: pointer;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}


.line
{
    margin-top: 3rem;
    border-color: #f7f7f7;
}
